body {
    border: 0;
    font-family: limestone;
    margin: 0;
}


/*       header       */
/* MENU START */

header {
    background: #3E3D3D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    top: 0;
    font-family: Arial, cursive;
}

/*
li {
    float: left;
}
*/

/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/

li a {
    display: flex;
    justify-content: center;
}

li a:hover {}

/*MENU SLUT*/
/*BURGERMENU*/
#menuknap {
    text-align: left;
    font-size: 3rem;
    cursor: pointer;
    color: #DEDEDE;
    font-family: 'Comfortaa', cursive;
}

#menu {
    transition: transform 0.3s;
    list-style-type: none;
    transform-origin: top left;
    /*    padding-bottom: 20px;*/
    /*    width: 200px;*/
}

#burger {
    width: 200px;
    z-index: 2;
    margin-left: 20px;
}


#menu li {
    margin: 10px;
    display: block;
}

#menu a {
    font-size: 1.2rem;
    text-decoration: none;
    text-align: left;


}

#menu a:hover {
    color: white;
}


.hidden {
    display: none;
}


/*MEDIA*/

@media only screen and (min-width: 900px) {


    #burger {
        display: none;
    }

    .navbar {
        display: block
    }
}

/* MEDIA SLUT */


/*BURGERMENU SLUT*/



/*       header slut      */


/*       besøg os       */

#splash {}

#besoeg-os {
    margin: 5vw;
    line-height: 22px;
}

/*       besøg os slut       */


/*       undervisning       */

img {}

.fag {
    width: 100%;
    font-family: limestone;
}

.steder {
    width: 100%;
    font-family: limestone;
}


/*       undervisning slut      */




/*       billetter      */

#billetter {
    margin: 5vw;
}

a {
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
    line-height: 10vh;

}

a:hover {
    color: dimgrey;
}

a:visited {
    color: rebeccapurple;
}

a:active {
    color: yellow;
}

/*       billetter slut      */













#bestil {}

#gaa-til-betaling {
    background-image: url(svg/betaling.svg);
    background-repeat: no-repeat;
    width: 50vw;
    height: 10vh;
}

input {
    width: 60vw;
    height: 4vh;
}


#ordre {}


/*       footer       */
#footer {
    margin-top: 5vw;
    padding: 5vw;
    width: 100%;
    background-color: #adadad;
    font-family: limestone;
    text-align: center;
}

/*       footer slut       */
